@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
	--primary-color: #2C3539 ;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Oswald', sans-serif;
	line-height: 1.6;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #333;

}

h1, h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p{
	margin: 10px 0;
}

img{
	width: 100%;
}
 /* navbar*/

.logo img{
	height: 40px;
	width: 40px;
}

.navbar{
	background-color: var(--primary-color);
	color: #fff;
	height: 70px;
	
}

.navbar ul {
	display: flex;

}

.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
}

.navbar .flex{
	justify-content: space-between;
}

.navbar a:hover{
	border-bottom: 2px #fff solid ;
}
/*showcase*/

.showcase{
	height: 400px;
	background-color: var(--primary-color);
	color: #fff;
	position: relative;
}
.showcase h1 {
	font-size: 40px;
}
.showcase p {
	margin: 20px 0;
}

.showcase .grid {
	overflow: visible;
	grid-template-columns: 55% 45%;
	gap: 30px;
}

.showcase-form {
	position: relative;
	top: 60px;
	height: 400px;
	width: 400px;
	padding: 40px;
	z-index: 100;
	justify-self: flex-end;

}

.showcase-form .form-control{
	margin: 30px 0 ;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
	border: 0 ;
	border-bottom: 1px solid #B4becb;
	width: 100%;
	padding:  3px;
	font-size: 16px;
}

.showcase-form input:focus{
	outline: none;
}

.showcase::before,
.showcase::after{
	content: '';
	position: absolute;
	height: 100px;
	bottom: -70px;
	right: 0;
	left: 0;
	background: #fff;
	transform: skewY(-3deg);
}

/*misc*/
.misc{
	padding-top: 200px;
}

.misc-heading{
	max-width: 500px;
	margin: auto;
}

.misc .grid h3{
	font-size: 35px;
}

.misc .grid p {
	font-size: 20px;
	font-weight: bold;
}

.misc .container img{
	width: 50%;
	height: 50%;
	justify-self: center;
}

.misc-text

/*cli*/

.cli{
	padding-top: 100px;
	padding-bottom: 100px;
}

.cli .grid{
	grid-template-columns: repeat(3, 1fr);
	
}

.cli .grid >:first-child{
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.cli .container img{
	border-radius: 10px;
}


/*about me*/

.about-me  .about-pic img{
	z-index: 100;
}

.about-me::before,
.about-me::after{
	content: '';
	position: absolute;
	height: 100px;
	bottom: -70px;
	right: 0;
	left: 0;
	background: #fff;
	transform: skewY(-3deg);
}

.about-me{
	height: 550px;
	background-color: var(--primary-color);
	color: #fff;
	position: relative;
	
}

.about-me .grid{
	overflow: hidden;
}

.about-me .aboutme-text{
	bottom: 200px;
}

/*location*/

.location {
	
	padding-top: 100px;
}

/*footer*/

.footer{
	background: var(--primary-color);
}




.footer .social img{
	width: 25px;
	height:25px;
}

.footer .social .ul{
	justify-content: space-around;
}


/*tables and under*/
@media(max-width: 768px){
	.grid,
	.showcase .grid,
	.misc .grid,
	.cli .grid,
	.location .grid,
	.contact-info .grid
	{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		
	}

	.showcase{
		height: auto;

	}

	.showcase-text {
		text-align: center;
		margin-top: 40px;

	}

	.showcase-form{
		justify-self: center;
		margin: auto;
	}

	.cli .grid >:first-child{
		grid-column: 1;
		grid-row: 1;
	}

	.misc .container{
		justify-self: center;
	}


}

.about-me img {
	position: relative;
	height: 600px;
	width: 500px;
	padding: 10px;
	z-index: 100;
	justify-self: flex-end;
}

.about-me .grid{
	overflow: visible;
}

.about-me .aboutme-text{
	bottom: 200px;
}

.outdoor-lights .container{
	background: url("/images/Eicr2.JPG") no-repeat ;
	box-sizing: border-box;
	box-shadow: inset -350px 0 100px 0 #FFF;

}


/*moble*/
@media(max-width: 500px) {
	.navbar{
		height: 110px;
	}

	.navbar .flex {
		flex-direction: column;
	}

	.navbar ul{
		padding: 10px;
		background-color: rgb(0, 0, 0.1) ;
		border-radius: 10px;

	}

}

.contact-info .grid img{
	width: 50%;
	height: 50%;
}

/*location*/

.location {
	
	padding-top: 100px;
}

/*footer*/

.footer{
	background: var(--primary-color);
}




.footer .social img{
	width: 25px;
	height:25px;
}

.footer .social .ul{
	justify-content: space-around;
}


/*tables and under*/
@media(max-width: 768px){
	.grid,
	.showcase .grid,
	.misc .grid,
	.cli .grid,
	.location .grid,
	.contact-info .grid
	{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		
	}

	.showcase{
		height: auto;

	}

	.showcase-text {
		text-align: center;
		margin-top: 40px;

	}

	.showcase-form{
		justify-self: center;
		margin: auto;
	}

	.cli .grid >:first-child{
		grid-column: 1;
		grid-row: 1;
	}

	.misc .container{
		justify-self: center;
	}


	.about-me{
		height: 500px;
	}



}

/*moble*/
@media(max-width: 500px) {
	.navbar{
		height: 110px;
	}

	.navbar .flex {
		flex-direction: column;
	}

	.navbar ul{
		padding: 10px;
		background-color: rgb(0, 0, 0.1) ;
		border-radius: 10px;

	}

	.showcase-text{
		padding: 10px;
		margin-left: 50px;
		margin-right: 50px;
	}

	.showcase-form{
	
		width: 300px;
		height:auto;
	}

	.misc .container {
		text-align: center;
	}

	.misc .container img{
		justify-self: center;
		width: 250px;
		height: 250px;
	}

	.misc .btn {
		justify-self: center;
	}

	



}

