<nav class="nav">
  <div class="logo">
    <a href="{{url_for('index') }}"><img src="{{url_for('static',filename='images/thelogo.png')}}" alt="" height="80px" width="80px"></a>
  </div>
 
  <ul class="nav-links">
    <li>
      <a href="{{url_for('about') }}">About us</a>
    </li>
    <li>
      <a href="{{url_for('services') }}">Services</a>
    </li>
    <li>
      <a href="#">Projects</a>
    </li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<script type="text/javascript" src="{{url_for('static',filename='js/nav.js')}}"></script>