{% extends 'base.html'%}

{% block content %}

<div id="outdoor lights" style="padding: 50px;">
	<div class="card border-black w-100 ">
		<img src="{{url_for('static',filename='images/placeholder1024x451.png')}}" class="card-img" alt="..." style="max-height: 300px;">
		<div class="card-body text-black card-img-overlay">
  			<h5 class="card-title"> Out door ligting </h5>
    		<p class="card-text"> Using qauilty accesories made from durable matirals you'll be left with an installation that will stand the test of time,and will look amzing doing it !</p>
  		</div>
	</div>
</div>

<div id="EICR" style="padding: 50px;">
	<div class="card border-black w-100 ">
		<img src="{{url_for('static',filename='images/placeholder1024x451.png')}}" class="card-img" alt="..." style="max-height: 300px;">
		<div class="card-body text-black card-img-overlay">
  			<h5 class="card-title"> EICR </h5>
    		<p class="card-text"> The Electrical Installation Condition Report  or the EICR  is a certificate that details the condition of all the electrical installations and fittings in a property. The report is produced following an in-depth assessment carried out by a qualified electrician. A visual inspection of the installation is done and series of tests are complated to confirm that everything is functioning safely and is compliant with minimum regulatory standards. Where the electrician identifies any potentially hazardous defects, they will note this in the report with the appropriate recommendation code and advise the landlord of any required remedial work. The certificate will also list the date by which the next inspection is due.</p>

    		<p > Prices start at £60 per consumer unit and the £15 per circuit. </p>
  		</div>
	</div>
</div>

<div id="consumer unit upgrades" style="padding: 50px;">
	<div class="card border-black w-100 ">
		<img src="{{url_for('static',filename='images/placeholder1024x451.png')}}" class="card-img" alt="..." style="max-height: 300px;">
		<div class="card-body text-black card-img-overlay">
  			<h5 class="card-title"> Consumer unit upgrades</h5>
    		<p class="card-text"> while its not law have to upgrade your plastic consumer unit to a meatal one it's stronglry advised that you do,  </p>
  		</div>
	</div>
</div>




{% endblock%}
