{% extends 'base.html'%}

{% block content %}

    
<main>
  <div class="container py-4">
   

    <div class="p-5 mb-4 bg-light rounded-3">

      <div class="container-sm">
      	
        <p class="col-md-8 fs-4"> An EICR checks whether your property's wiring and electrics are safe. It may also be known as the 'Landlord Safety Test' or the 'Homebuyer's Test', and is always carried out by a qualified electrician.</p>
       	<p class="col-md-8 fs-4"> starting from just £79 to book call now 079517002</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Minor electrical work</h2>
          <p>This might be installing a new power or lighting circuit, or just adding to an existing one call or email to discuss work that needs to be done</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Outdoor lighting</h2>
          <p>using robust and stylish accessories you will be left with your desierd finish and an isntallation that will withstand the test of time.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

  </div>
</main>


  
	
{% endblock%}